@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Josefin Sans", sans-serif;
}
textarea:focus, input:focus{
  outline: none;
}

.border-input{
  border: 2px solid rgb(203 213 225);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.react-horizontal-scrolling-menu--scroll-container  {
  overflow-x: hidden;
}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-stadium{
  background-image: url("/images/background/stadium.jpg");
  background-position: center;
}

.container-siuuu {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-siuuu img {
  border-radius: 20px;
}

.container-siuuu button {
  margin-bottom: 30px;
  background-color: #C10000;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  transition: all .3s;
}

.container-siuuu button:hover {
  opacity: .8;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: .8;
}

select {
  cursor: pointer;
  padding: 8px;
}

button:disabled {
  cursor: not-allowed;
  background: #666;
}

button:disabled:hover {
  opacity: 1;
}

.bg-red {
  background: #c10000;
}

.cursor-pointer {
  cursor: pointer;
}